# 环境变量文件
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# 日志文件
*.log

# 本地数据文件
app_state.json 

# 虚拟环境
.venv/

# 开发者文件
.idea/
.vscode/
.worktrees/
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt
market_pulse.pid

finnhub_news.json
rss_news.json

cls_news.json
cls_news.xml

notatesla_news.json